You made it

<br>

<h3>Keywords:</h3><br>
<% @keywords.each do |k| %>
  <%= k %>
<% end %>

<br>

<h3>Year(s):</h3><br>
<% @year.each do |y| %>
  <%= y %>
<% end %>

<br>

<h3>Genres:</h3><br>
<% @genres.each do |g| %>
  <%= g %>
<% end %>
